# Сборка
dist
build

# Зависимости
node_modules

# IDE / редактор
.vscode
.idea

# # Конфиги
# *.config.js
# *.config.ts
# *.d.ts

# Минифицированные / собранные файлы
*.min.js
*.bundle.js
*.map

# Логи
*.log

# Любые временные файлы
tmp/
temp/
